@model _00_LoginPage.ViewModeels.LoginViewModel

<div class="wrapper container">
    <div class="row title">
        Üye Olunuz
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
        <ul>
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    }

    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
            <div class="field">
                <input asp-for="FirstName" type="text" required>
                <label asp-for="FirstName">Adınız</label>
            </div>
            <div class="field">
                <input asp-for="LastName" type="text" required>
                <label asp-for="LastName">Soyadınız</label>
            </div>
            <div class="field">
                <input asp-for="Email" type="email" required>
                <label asp-for="Email">E-Mail</label>
            </div>
            <div class="field">
                <input asp-for="Password" type="password" required>
                <label asp-for="Password">Parola</label>
            </div>
            <div class="field">
                <input asp-for="ConfirmPassword" type="password" required>
                <label asp-for="ConfirmPassword">Parola Onayı</label>
            </div>
            <div class="content">
                <div class="pass-link">
                    <a asp-action="Login" asp-controller="Account">Bir hesabınız var mı?</a>
                </div>
            </div>
            <div class="field">
                <input type="submit" asp-controller="Account" asp-action="Register" value="Kayıt Ol">
            </div>
            <div class="signup-link">
                Üye Değil Misiniz? <a asp-action="Register" asp-controller="Account">Şimdi Kayıt Ol</a>
            </div>
    }

</div>
