@{
    ViewData["Title"] = "Ana Sayfa";
}

<link rel="stylesheet" type="text/css" href="~/css/mainPage.css">

<div class="text-center justify-content-center mt-5">
    <h1 class="d-flex justify-content-center align-items-center display-1 text-light">Alışveriş Listesi Sitemize Hoş Geldiniz</h1>
</div>

<div class="all mt-5">
    <div class="left">
        <a asp-action="Index" asp-controller="ShoppingList"><div class="text">Sipariş Listelerim</div></a>
    </div>
    <div class="center">
        <div class="explainer"><span>Menü</span></div>
        <div class="text"></div>
    </div>
    <div class="right">
        <a asp-action="Create" asp-controller="ShoppingList"><div class="text">Yeni Sipariş Listesi Oluştur</div></a>
    </div>
</div>

<div class="text-center justify-content-center mt-5">
    <img src="https://img.freepik.com/free-photo/3d-render-smartphone-with-hand-fill-online-survey_107791-15837.jpg?w=740&t=st=1691669492~exp=1691670092~hmac=4bc77ef0d44aefdf926821c6ad8e88fa4cc5b661d8554e7d05ab1903a726869d" style="width: 300px; height: auto; border-radius: 10px;" />
</div>

<a href="https://github.com/berkcavdar" target="_blank" class="ref">🔗 Berk Çavdar</a>