@model ICollection<_00_LoginPage.ViewModeels.ShoppingListProductViewModel>

<link rel="stylesheet" type="text/css" href="~/css/shoppingListProducts.css">

<div class="card mt-5">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Alışveriş Listem</b></h4></div>
                    <div class="col align-self-center text-right text-muted">@Model.Count Ürün</div>
                </div>
            </div>
            @foreach(var item in Model)
            {
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                        <div class="col">
                            <div class="row text-muted">Shirt</div>
                            <div class="row">@item.Name</div>
                        </div>
                        <div class="col">
                            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                        </div>
                        <div class="col">
                            &euro; 44.00 <span class="close">
                                @using (Html.BeginForm("Delete", "ShoppingListProduct", new { id = item.Id }, FormMethod.Post))
                                {
                                    <button type="submit" class="login100-form-btn">
                                        &#10005;
                                    </button>
                                }
                            </span>
                        </div>
                    </div>
                </div>
            }
            <div class="back-to-shop"><a asp-action="Index" asp-controller="ShoppingList">&leftarrow;</a><span class="text-muted">Alışveriş Listelerim</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Özet</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS 3</div>
                <div class="col text-right">&euro; 132.00</div>
            </div>
            <form asp-action="Index">
                <p>Kategoriler</p>
                <select><option class="text-muted">Seçiniz</option></select>
                <p>Ürünleri Ara</p>
                <input id="term" class="form-control" placeholder="Anahtar Kelime">
                <button type="submit" class="btn btn-info">ara</button>
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">Toplam Fiyat</div>
                <div class="col text-right">&euro; 137.00</div>
            </div>
            <a asp-action="Update" asp-controller="ShoppingListProduct" class="btn">Değişikleri Kaydet</a>
            <a asp-action="UserProducts" asp-controller="Product" class="btn">Ürün Ekle</a>
        </div>
    </div>

</div>